@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

@import "tailwindcss";
@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #fafafa;
    --color-card: #f5f5f5;
    --color-primary-text: #ffffff;
    --color-secondary-text: #666666;
    --color-primary-accent: #5aaa9e;
    --color-input: #fafafa;
    --color-divider: #9ca3af;
    
    --color-dark-background: #151515;
    --color-dark-card: #1a1a1a;
    --color-dark-primary-text: #fafafa;
    --color-dark-secondary-text: #b0b0b0;
    --color-dark-primary-accent: #0a84ff;
    --color-dark-input: #1f1f1f;
    --color-dark-divider: #333333;
}